 <!-- Header-->
 <header class=" py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <img class="animate__animated animate__backInLeft animate__wobble" width="300px" src="https://www.pikpng.com/pngl/b/163-1634687_icon-supermarket-cart-transprent-png-free-full-shopping.png" alt="animated cart">
            <h1 class="display-4 fw-bolder text-success animate__animated animate__tada animate__delay-1s"
            >Shop in style</h1>
            <p class="fw-bolder animate__animated animate__shakeX animate__delay-4s">Happiness is not in Money, but in Shopping<span class="">..</span></p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-1">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of products | filter : searchItem : 'title' ">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img height="200px" class="card-img-top" [src]="product.image" [alt]="product.title" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h6 class="fw-bolder">{{product.title.slice(0,17)}}... </h6>
                            <!-- Product price-->
                            <b class="text-danger">${{product.price}}</b>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="view-product/{{product.id}}">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>